@font-face {
    font-family: 'Oranienbaum';
    src: url('Oranienbaum.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: relative;
    margin: 10vh auto;
    height: 80vh;
    min-height: 500px;
    width: 100%;
    max-width: 1280px;
    text-align: center;
    font-family: 'Oranienbaum', arial;
}

h1 {
    display: none;
}

h1.active {
    display: block;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
}

.car {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25vmax;
    max-width: 25%;
    height: 25vmax;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    opacity: .7;
    transition: .4s linear;
}

.car.left {
    display: block;
    top: 40%;
    left: 19%;
    background-image: url(img/car0.png);
    cursor: pointer;
}

.car.right {
    display: block;
    top: 40%;
    right: 19%;
    background-image: url(img/car2.png);
    transform: translate(50%, -50%);
    cursor: pointer;
}

.car.active {
    display: block;
    margin-top: 10x;
    top: 50%;
    left: 50%;
    width: 30vmax;
    max-width: 30%;
    height: 30vmax;
    background-image: url(img/car1.png);
    opacity: 1;
}

p {
    display: none;
}

p.active {
    display: block;
    position: absolute;
    margin: 100px 0;
    top: 50%;
    left: 50%;
    width: 35vmax;
    transform: translate(-50%, 0);
}

.arrow {
    position: absolute;
    top: 40%;
    opacity: .5;
    cursor: pointer;
    transition: .2s;
}

.arrow:hover {
    opacity: 1;
}

.arrow.arrow-left {
    left: 2%;
    transform: rotate(180deg);
}

.arrow.arrow-right {
    right: 2%;
}

.arrow img {
    max-width: 26px;
    width: 2.04vw;
}